.DS_Store
.AppleDouble
.LSOverride

target/
*.profraw

DerivedData/
build/
*.dSYM
*.dSYM.zip
*.ipa

xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside

.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

.env
.env.*
!.env.example

*.swp
*.swo
*~
